[user]
	name = Jeff Peterson
	email = jeff@petersonj.com
[core]
	editor = vim
	autocrlf = input
[push]
	default = simple
[color]
	ui = auto
[alias]
	co = checkout
	l  = log --graph --format='%C(yellow)%h %C(magenta)%d %C(reset)%s %C(cyan)%cn (%ar)'
	b  = branch
	c  = commit
	s  = status
	f  = fetch
	r = remote update -p

[diff]
	algorithm = patience
[pull]
	rebase = true
[help]
	autocorrect = 1
[rerere]
	enabled = true
[remote "origin"]
	push = HEAD
