.netrwhist
.DS_Store
node_modules

/home/.vim/bundle
/home/sbin
/home/.profiles/secure*
/home/.atom/*
!/home/.atom/snippets.cson
!/home/.atom/config.cson
!/home/.atom/init.coffee
!/home/.atom/keymap.cson
!/home/.atom/styles.less
!/home/.atom/packages.txt

/home/.bundle/cache

/home/.config/*
!/home/.config/yarn
/home/.config/yarn/link

/support/Code/*
!/support/Code/User
/support/Code/User/*

!/support/Code/User/snippets
/support/Code/User/snippets/secure.*

!/support/Code/User/keybindings.json
!/support/Code/User/launch.json
!/support/Code/User/locale.json
!/support/Code/User/settings.json
