.idea
.netrwhist
.DS_Store
node_modules
tmp

/log

/home/.vim/bundle
/home/sbin
/home/.profiles/secure*

/home/.bundle/cache

/home/.config/*
!/home/.config/btop
!/home/.config/gh
!/home/.config/opencode
!/home/.config/yarn
/home/.config/yarn/link

/home/.pi/*
!/home/.pi/agent/models.json
!/home/.pi/agent/settings.json

/support/Code/*
!/support/Code/User
/support/Code/User/*

!/support/Code/User/snippets
/support/Code/User/snippets/secure.*

!/support/Code/User/keybindings.json
!/support/Code/User/launch.json
!/support/Code/User/locale.json
!/support/Code/User/settings.json
