"*":
  "exception-reporting":
    userId: "65373ad2-f159-18e8-2339-c37cc5faac8d"
  "release-notes":
    viewedVersion: "0.89.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "205d735f2b3d0f9fbfbe00698e21d330d2ca400f"
  editor:
    fontFamily: "Menlo"
    lineHeight: 1.5
    showInvisibles: true
    showIndentGuide: true
    nonWordCharacters: "./\\()\"':,.;<>~!@#$%^&*|+=[]{}`?"
    preferredLineLength: 100
    scrollPastEnd: true
    invisibles:
      eol: " "
      space: " "
      tab: "→"
  core:
    followSymlinks: true
    disabledPackages: [
      "Rdio"
      "release-notes"
      "metrics"
      "terminal"
      "feedback"
      "editor-stats"
      "background-tips"
      "spell-check"
      "vim-mode"
      "atom-jsfmt"
      "travis-ci-status"
      "autocomplete"
      "atom-ternjs"
    ]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    projectHome: "/Users/jeff/code"
  autosave:
    enabled: true
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
    includeCompletionsFromAllBuffers: true
    strictMatching: true
  "tree-view": {}
  "inline-autocomplete":
    includeGrammarKeywords: true
  "atom-jsfmt":
    formatOnSave: false
    showErrors: false
  "atom-lint":
    showViolationMetadata: false
  "markdown-table-formatter":
    restoreSelections: true
  "linter-jsxhint": {}
  react: {}
".js.jsx.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#$%^&*|+=[]{}`?"
    preferredLineLength: 100
".coffee.jsx.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#$%^&*|+=[]{}`?"
    preferredLineLength: 100
".jsx.regexp.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#$%^&*|+=[]{}`?"
    preferredLineLength: 100
".js.regexp.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#$%^&*|+=[]{}`?"
    preferredLineLength: 100
".lua.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#$%^&*|+=[]{}`?"
    preferredLineLength: 100
".jsx.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#$%^&*|+=[]{}`?"
    preferredLineLength: 100
".js.source":
  editor:
    nonWordCharacters: "./\\()\"':,.;<>~!@#$%^&*|+=[]{}`?"
    preferredLineLength: 100
