# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'.vim-mode.insert-mode:not(.mini)':
  'j k': 'vim-mode:activate-command-mode'

'.editor:not(.mini)':
  '#': 'ruby-string-interpolation:insert'

'.vim-mode.command-mode:not(.mini)':
  '" *': 'vim-mode:register-prefix'

'.editor':
  'ctrl-n': 'autocomplete:toggle'

'.editor:not(.mini)':
  'ctrl-shift-J': 'editor:add-selection-below'
  'ctrl-shift-K': 'editor:add-selection-above'

  # 'tab': 'inline-autocomplete:cycle'
  # 'shift-tab': 'inline-autocomplete:cycle-back'

'.inline-autocomplete':
  'space': 'inline-autocomplete:stop'
